
/* 3rd Party Plugin Styles
----------------------------------------------- */


/* Critic */

.hero-listing-bar .critic-rating-result-wrap {
	display: inline-flex;
	vertical-align: text-top;
	margin-right: 1rem;
	opacity: 0.7;
}

.hero-listing-bar .critic-rating-result-wrap i {
	color: $white;
}

.hero-listing-bar .critic-rating-total {
	margin-left: 5px;
}

.hero-listing-bar .critic-rating-result .cancel-on-png,
.hero-listing-bar .critic-rating-result .cancel-off-png,
.hero-listing-bar .critic-rating-result .star-on-png,
.hero-listing-bar .critic-rating-result .star-off-png,
.hero-listing-bar .critic-rating-result .star-half-png {
	line-height: 1;
}

.critic-rating-result-wrap span {
	display: inline-block;
	vertical-align: middle;
}
