
/* Used to style the TinyMCE editor
----------------------------------------------- */

body {
	color: $matterhorn;
	font-family: $body-font-family;
	font-size: 1.0625rem;
	line-height: 1.6;
	margin: 20px;
}
